[Unit]
Description=Color Lamp

[Service]
Type=simple
ExecStart=/home/pi/color_lamp
Restart=always
EnvironmentFile=/etc/systemd/system/color_lamp.conf

[Install]
WantedBy=multi-user.target
