[Unit]
Description=WPS Scan
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/home/pi/wps_script.sh

[Install]
WantedBy=multi-user.target
